<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bekommen.bildbekommen">

    <application>
        <activity
            android:name="com.bekommen.bildbekommen.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
    </application>
</manifest>